* {
  font-family: "JetBrainsMono Nerd Font", "Roboto", sans-serif;
  font-size: 13px;
  border: none;
  border-radius: 0;
}

window#waybar {
  background: transparent;
  margin-bottom: -5px;
}

/* Island Bubbles */
.modules-left,
.modules-center,
.modules-right {
  background: #191724; /* Rose Pine Moon Base */
  border: 2px solid #26233a; /* Iris Border */
  padding: 2px 12px;
  border-radius: 12px;
  color: #e0def4;
}

/* Workspaces */
#workspaces button {
  padding: 0 8px;
  color: #6e6a86;
}
#workspaces button.active {
  color: #ea9a97; /* Rose */
}

/* Individual Module Colors */
#clock {
  color: #ea9a97;
  font-weight: bold;
}
#pulseaudio {
  color: #c4a7e7;
  margin-right: 12px;
}
#battery {
  color: #f6c177;
  margin-right: 12px;
}
#cpu {
  color: #9ccfd8;
  margin-right: 12px;
}
#memory {
  color: #31748f;
}
#tray {
  margin-left: 10px;
}

/* Critical States */
#battery.critical,
#battery.warning.discharging {
  color: #eb6f92; /* Love */
  animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
  to {
    color: #e0def4;
  }
}
